<app-nav>
  <router-outlet></router-outlet>

  <input type="text" #input>
  <button (click)="addTodo(input.value)">Add</button>
  <ul>
    @for(todo of todos(); track $index) {
      <li>
        <input type="checkbox" [checked]="todo.done" (change)="toggleTodo($index)">
        {{ todo.text }}
      </li>
    }
  </ul>

  <div><progress [value]="progress()"></progress></div>
  <input type="text" #prompt>
  <button (click)="runPrompt(prompt.value)" [disabled]="!ready()">  Ask</button>
  <pre>{{ reply() }}</pre>

  <input type="text" #form>
  <button (click)="fillForm(form.value)" [disabled]="!ready()">Fill form</button>
  <form [formGroup]="formGroup">
    <input placeholder="Name" formControlName="name">
    <input placeholder="City" formControlName="city">
  </form>
</app-nav>
